<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


  <bean id="actor" class="com.stackroute.domain.Actor">
    <constructor-arg value="Sruthi" index="0" type="java.lang.String"></constructor-arg>
    <constructor-arg value="female" index="1" type="java.lang.String"></constructor-arg>
    <constructor-arg value="20" index="2"></constructor-arg>
  </bean>
  <bean id="actor2" class="com.stackroute.domain.Actor">
    <constructor-arg value="chinni" index="0" type="java.lang.String"></constructor-arg>
    <constructor-arg value="female" index="1" type="java.lang.String"></constructor-arg>
    <constructor-arg value="20" index="2"></constructor-arg>
  </bean>
  <bean id="MovieA" class="com.stackroute.domain.Movie" scope="prototype" autowire="byName">

  </bean>
  <bean id="MovieB" class="com.stackroute.domain.Movie" scope="prototype" autowire="constructor">

  </bean>
  <bean class="com.stackroute.domain.BeanPostProcessorDemoBean">

  </bean>


</beans>
